# Игнорируем артефакты сборки
server/build/
server/CMakeCache.txt
server/CMakeFiles/

# Игнорируем локальные конфигурационные файлы
server/.vscode/
server/.idea/

# Игнорируем временные файлы
*.tmp
*.log
